<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&family=Poppins:wght@300;400;700&display=swap"
        rel="stylesheet">

</head>

<body>

    <header class="main">
        <div class="left__navbar-side">
            <img class="logo" src="/img/main.png" alt="">

            <input class="searchbar" type="text" name="" id="" placeholder="Search">
        </div>
        <div class="right__navbar-side">
            <nav>
                <ul class="navbar__links">
                    <li><a href="">Restaurants</a></li>
                    <li><a href="">Deals</a></li>
                    <li><a href="">My ordes</a></li>
                </ul>
            </nav>
            <button>
                Login
            </button>
        </div>
    </header>
    <hr class="light_line">
    <!-- Partie sections -->
    <section class="images">
        <div class="container">
            <div class="container__column">
                <div class="container__content-left">
<img src="/img/left.png" alt="deal left">
                </div>
            
                <div class="container__content-right">
<img src="/img/right.png" alt="">
                </div>

            </div>
        </div>
    </section>
    <section class="cards__section">
        <h2>Nearby Restaurants</h2>

        <div class="card">
            <!-- Cover -->
            <div class="card__cover">
                <img src="/img/img.png" alt="">
            </div>
        
            <!-- Content -->
            <div class="card__content">
                <h4>Royal Tempura </h4>
                <p>30-40 min/30e min</p>
            </div>
            ...
        </div>
    </section>



</body>

</html>