<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&family=Poppins:wght@300;400;700&display=swap"
        rel="stylesheet">

</head>

<body>

    <header class="main">
        <div class="left__navbar-side">
            <img class="logo" src="/img/main.png" alt="">

            <input class="searchbar" type="text" name="" id="" placeholder="Search">
        </div>
        <div class="right__navbar-side">
            <nav>
                <ul class="navbar__links">
                    <li><a href="">Restaurants</a></li>
                    <li><a href="">Deals</a></li>
                    <li><a href="">My ordes</a></li>
                </ul>
            </nav>
            <button>
                Login
            </button>
        </div>
    </header>
    <hr class="light_line">
    <!-- Partie sections -->
    <section class="images">
        <div class="container">
            <div class="container__column">
                <div class="container__content-left">
<img src="/img/left.png" alt="deal left">
                </div>
            
                <div class="container__content-right">
<img src="/img/right.png" alt="">
                </div>

            </div>
        </div>
    </section>
    <section class="cards_section">
        <h2>Nearby Restaurants</h2>
        <div class="cards"> 
        <div class="cards__item">
        
    
        <div class="card">
            <!-- Cover -->
            <div class="card__cover">
                <img src="/img/img.png" alt="">
            </div>
        
            <!-- Content -->
            <div class="card__content">
                <h4>Royal Tempura </h4>
                <p>30-40 min ~ 30e min</p>
            </div>
            <img class="food-type" src="/img/default.png" alt="">

        </div>

        <div class="card">
            <!-- Cover -->
            <div class="card__cover">
                <img src="/img/img.png" alt="">
            </div>
        
            <!-- Content -->
            <div class="card__content">
                <h4>Royal Tempura </h4>
                <p>30-40 min ~ 30e min</p>
            </div>
            <img class="food-type" src="/img/default.png" alt="">

        </div>

        <div class="card">
            <!-- Cover -->
            <div class="card__cover">
                <img src="/img/img.png" alt="">
            </div>
        
            <!-- Content -->
            <div class="card__content">
                <h4>Royal Tempura </h4>
                <p>30-40 min ~ 30e min</p>
            </div>
            <img class="food-type" src="/img/default.png" alt="">

        </div>
        <div class="card">
            <!-- Cover -->
            <div class="card__cover">
                <img src="/img/img.png" alt="">
            </div>
        
            <!-- Content -->
            <div class="card__content">
                <h4>Royal Tempura </h4>
                <p>30-40 min ~ 30e min</p>
            </div>
            <img class="food-type" src="/img/default.png" alt="">

        </div>
        <div class="card">
            <!-- Cover -->
            <div class="card__cover">
                <img src="/img/img.png" alt="">
            </div>
        
            <!-- Content -->
            <div class="card__content">
                <h4>Royal Tempura </h4>
                <p>30-40 min ~ 30e min</p>
            </div>
            <img class="food-type" src="/img/default.png" alt="">

        </div>
        <div class="card">
            <!-- Cover -->
            <div class="card__cover">
                <img src="/img/img.png" alt="">
            </div>
        
            <!-- Content -->
            <div class="card__content">
                <h4>Royal Tempura </h4>
                <p>30-40 min ~ 30e min</p>
            </div>
            <img class="food-type" src="/img/default.png" alt="">
        </div>
        <div class="card">
            <!-- Cover -->
            <div class="card__cover">
                <img src="/img/img.png" alt="">
            </div>
        
            <!-- Content -->
            <div class="card__content">
                <h4>Royal Tempura </h4>
                <p>30-40 min ~ 30e min</p>

            </div>
            <img class="food-type" src="/img/default.png" alt="">
        </div>
        <div class="card">
            <!-- Cover -->
            <div class="card__cover">
                <img src="/img/img.png" alt="">
            </div>
        
            <!-- Content -->
            <div class="card__content">
                <h4>Royal Tempura </h4>
                <p>30-40 min ~ 30e min</p>

            </div>
            <img class="food-type" src="/img/default.png" alt="">
        </div>

<div class="map">
<h3>find your restaurant in the map</h3>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23971.703779135176!2d4.338730658385372!3d50.83644323439767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c47f50c77c6b%3A0x6eb7046a80a92da4!2sAu%20Coin%20Gourmand!5e0!3m2!1sfr!2sbe!4v1640698287262!5m2!1sfr!2sbe" width="1200" height="450" style="border-radius:5%;" allowfullscreen="" loading="lazy"></iframe>
</div>



    </div> 
</div>
    </section>



</body>

</html>